<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}"
>
<head>
    <meta charset="UTF-8">
    <title>Lista de Clientes</title>
</head>
<body>

    <h1>Lista de Clientes</h1>
    <table>
        <thead>
            <tr>
               <th>NOME</th>
                <th>E-MAIL</th>
                <th>CPF</th>
                <th>TELEFONE</th>
                <th>ENDEREÇO</th>
                <th>CIDADE</th>
                <th>PLACA</th>
                <th>MODELO</th>
                <th>ANODEFABRICAÇÃO</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cliente : ${lista}">
                <th th: text="${cliente.nome}"></th>
                <th th: text="${cliente.e-mail}"></th>
                <th th: text="${cliente.cpf}"></th>
                <th th: text="${cliente.telefone}"></th>
                <th th: text="${cliente.endereco}"></th>

                <th th: text="${carro.placa}"></th>
                <th th: text="${carro.modelo}"></th>
                <th th: text="${carro.anofabricacao}"></th>
            </tr>
        </tbody>
    </table>
</body>
</html>