<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}"
>
<head>
    <title>Lista de Clientes</title>
</head>
<body>
<div layout:fragment="conteudo">
    <h1>Lista de Clientes</h1>
    <table>
        <thead>
        <tr>
            <th>NOME</th>
            <th>E-MAIL</th>
            <th>CPF</th>
            <th>TELEFONE</th>
            <th>ENDEREÇO</th>
            <th>PLACA</th>
            <th>MODELO</th>
            <th>ANODEFABRICAÇÃO</th>
        </tr>
        </thead>
        <tbody>
        <div>
            <tr th:each="cliente : ${listaCLiente}" ,>
                <td th:text="${cliente.nome}"></td>
                <td th:text="${cliente.email}"></td>
                <td th:text="${cliente.cpf}"></td>
                <td th:text="${cliente.telefone}"></td>
                <td th:text="${cliente.endereco}"></td>
            </tr>
        </div>
        <div>
            <tr th:each="carro : ${listaCarro}">
                <td th:text="${carro.placa}"></td>
                <td th:text="${carro.modelo}"></td>
                <td th:text="${carro.anofabricacao}"></td>
            </tr>
        </div>
        </tbody>
    </table>
</div>
</body>
</html>