<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Lista de Clientes</title>
</head>
<body>

    <h1>Lista de Clientes</h1>
    <table>
        <thead>
            <tr>
               <th>NOME</th>
                <th>E-MAIL</th>
                <th>CPF</th>
                <th>TELEFONE</th>
                <th>ENDEREÇO</th>
                <th>CIDADE</th>
                <th>PLACA</th>
                <th>MODELO</th>
                <th>ANODEFABRICAÇÃO</th>
            </tr>
        </thead>
        <tbody>
<!--            <tr th:each="cliente : ${listagemCliente}">-->
<!--                <th th: text="${cliente.nome}"></th>-->
<!--                <th th: text="${cliente.e-mail}"></th>-->
<!--                <th th: text="${cliente.cpf}"></th>-->
<!--                <th th: text="${cliente.telefone}"></th>-->
<!--                <th th: text="${cliente.bairro}"></th>-->
<!--                <th th: text="${cliente.cidade}"></th>-->
<!--                <th th: text="${cliente.cep}"></th>-->
<!--                <th th: text="${cliente.placa}"></th>-->
<!--                <th th: text="${cliente.marca}"></th>-->
<!--                <th th: text="${cliente.modelo}"></th>-->
<!--                <th th: text="${cliente.anodefabricacao}"></th>-->
<!--            </tr>-->
        </tbody>
    </table>
</body>
</html>